.dashboardContainer {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.dashboard {
    flex: 1;
    padding: 20px;
    transition: margin-left 0.3s ease;
    margin-left: 250px; /* Adjust based on sidebar width */
    background-color: #f8f9fa;
}

.dashboardExpanded {
    flex: 1;
    padding: 20px;
    transition: margin-left 0.3s ease;
    margin-left: 80px; /* Adjust to match the closed sidebar state */
    background-color: #f8f9fa;
}

.title {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card h2 {
    margin-bottom: 10px;
}

.card p {
    margin-bottom: 20px;
}

.button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0056b3;
}
